<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Arshia's Portfolio</title>
</head>
<body>
    <img src="images/arshias-portfolio-high-resolution-logo-transparent.png" class="logo">

    {{content | safe}}
</body>
</html>