---
layout: default.njk
---

<h2>Contact Me</h2>


<div class="contact-form">
    <label for="first-name last-name" class="form-label">Name</label>
    <div class="row g-3 form-names">
      <div class="col-sm">
        <input type="text" class="form-control" id="first-name" placeholder="First Name" aria-label="First Name">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" id="last-name" placeholder="Last Name" aria-label="Last Name">
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-outline-success submit-button">Submit</button>
  </div>