---
layout: default.njk
---
<h2>Home</h2>

<p>Welcome to my blog page where I'll be documenting my website building learning process.</p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Intro to Javascript</h5>
    <p class="card-text">Learnt about the foundations of Javascript today, and wrote my first functioning program!</p>
    <a href="/first-blog-post" class="btn btn-primary">Read this post</a>
  </div>
</div>