---
layout: default.njk
---
<h2>Home</h2>

<p>Welcome to my blog page where I'll be documenting my website building learning process.</p>

<div class="card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/66304/mandulavirag-almond-flowers-spring-66304.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Programming Concepts</h5>
      <p class="card-text"></p>
      <a href="/first-blog-post" class="btn btn-primary">First lesson on Javascript today! Learnt about variables and setting values to them, concatenation. Then wrote my first Javascript program!</a>
    </div>
  </div>