---
layout: default.njk
---


<div class="message-form">
<form action="#">
    <h2>Message Me!</h2>
    <div class="full-name">
    <label for="first-name" class="full-name">First Name:</label>
    <input type="text" id="first-name" name="first-name" placeholder="First Name" required>

    <label for="last-name" class="full-name">Last Name:</label>
    <input type="text" id="last-name" name="last-name" placeholder="Last Name" required>
    </div> 

    <label for="email" class="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="Email" class="email-input" required>

    <label for="message" class="message">Message:</label>
    <input type="text" id="message" name="message" placeholder="Message" class="message-input" required>   

    <br>

    <input type="submit" class="submit-button">

</form>
</div>